*{
	padding: 0;
	margin: 0;
}

*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url(../img/fondobody.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	
}

html{
	width: 100%;
	height: 100%;
}

.contenedor{
	width: 100%;
	height: 100%;
	position: absolute;
}

.optiones{
	color: rgb(255,255,255);
	position: absolute;
	top: 19%;
	left: 40%;
	display: inline-block;
	background-color: rgb(0,0,0);
	border-radius: 5px;
}

.optiones ul{
	list-style: none;
	color: white;
	font-size: 22px;
	list-style:none;
	display: inline-flex;
}

.optiones ul li{
	font-size: 24px;
	text-shadow: 1px 1px 5px rgb(255,242,0);
	padding: 10px;
}

.optiones ul li:hover{

	cursor: pointer;
	text-shadow: 1px 3px 5px yellow;
	color: yellow;
}

.optiones a{
	text-decoration: none;
	color: rgb(255,255,255);
}

.optiones a:hover{
	cursor: pointer;
	text-shadow: 1px 3px 5px yellow;
	color: yellow;
}

.informacion{
	color: white;
	width: 500px;
	height: 400px;
	background-color: rgb(0,0,0,0.5);
	border-radius: 5px;
	font-size: 30px;
	text-align: justify;
	padding: 20px;
	position: relative;
	top: 200px;
	left: 5px;
	
	
}

.informacion h1{
	font-size: 40px;
	text-align: center;
}

.informacion p{
	margin-top: 25px;
	text-transform: capitalize;
}

.informacion img{
	margin-left: 50px;

}

.facebook{
	width: 25%;
	position: absolute;
	top: 200px;
	right: 0px;
}

.servicio{

	width: 70%;
	height: 60%;
	padding: 20px;
	font-size: 25px;
	background-color: rgb(0,0,0,0.5);
	color: rgb(255,255,255);
 	word-wrap: break-word;
 	position: relative;
 	top: 200px;
 	left: 5px;


}

.servicio p{

	margin-top: 20px;
	text-transform: capitalize;



}

